.image{
    width: 4vw;
    height: 6vh;
    border-radius: 100%;
}

.div-owner{
    display: flex;
    align-items: center;
}

.div-image{
    margin-right: 3%;
}

.owner-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0%;
}

.div-ownerInfo{
    display: flex;
    flex-direction: column;
}

.owner-user{
    font-family: 'Roboto';
    font-size: 70%;
    margin-top: 10%;
    line-height: 6%;
    font-weight: 400;
}