.button {
	font-family: "Comfortaa";
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35pt;
	width: fit-content;
	margin-right: 5pt;
	padding-left: 20pt;
	padding-right: 20pt;
	border-radius: 40pt;
	color: black;
}

.active {
	color: white;
	background: linear-gradient(to bottom left, #ff01d5, #ff4d00);
}

a {
	text-decoration: none;
}

.navbarText {
	font-size: 1em;
}

/* Styles for smaller viewports */
@media screen and (max-width: 600px) {
	.navbarText {
		font-size: 0.5em;
	}
	.button {
		width: fit-content;
		margin-right: 5pt;
		padding-left: 5pt;
		padding-right: 5pt;
		border-radius: 40pt;
	}
}

/* Styles for larger viewports */
@media screen and (min-width: 1200px) {
	.navbarText {
		font-size: 1em;
	}
}
